In [59]:
import requests as re

In [60]:
  from bs4 import BeautifulSoup

In [61]:
import re as regex

In [62]:
soup.title.text

'Samsung Galaxy M30s Blue 128 Gb Reviews: Latest Review of Samsung Galaxy M30s Blue 128 Gb | Price in India | Flipkart.com'

In [63]:
import pandas as pd

In [85]:
#soup.find_all("div",attrs={"class":"qwj&"})

data=pd.DataFrame(columns={"title","review","rating","user","time_of_review"})
print(data)
review_1=[]
title_1=[]
rating_1=[]
user_1=[]
time1=[]
user_address=[]
for j in range(1,31):
  url="https://www.flipkart.com/samsung-galaxy-m30s-blue-128-gb/product-reviews/itm79f7239a3b086?pid=MOBFSHFBFGNWPSXF&lid=LSTMOBFSHFBFGNWPSXF514GKR&marketplace=FLIPKART&page="
  url_fin=url+str(j)
  html=re.get(url_fin)
  soup=BeautifulSoup(html.text,"lxml")
  review=soup.find_all(class_=regex.compile("qwj"))
  title=soup.find_all("p",class_=regex.compile("_2xg"))
  user=soup.find_all("p",class_=regex.compile("_3LYOAd _3sxSiS"))
  rating=soup.find_all(class_=regex.compile("hGSR34 E_uFuv"))
  address=soup.find_all(class_=regex.compile("_19inI8"))
  time=soup.find_all(attrs={"class":"_3LYOAd"})[1::2]
  for (i,j,k,u,t,ad) in zip(review,title,rating,user,time,address):
    review_1.append(i.text.strip("READ MORE"))
    title_1.append(j.text)
    rating_1.append(k.text)
    user_1.append(u.text)
    time1.append(t.text)
    user_address.append(ad.text)
data["title"]=title_1
data["review"]=review_1
data["rating"]=rating_1
data["user"]=user_1
data["time_of_review"]=time1
data["user_address"]=user_address

Empty DataFrame
Columns: [user, title, time_of_review, rating, review]
Index: []

In [86]:
data

                  user  ...                                       user_address
0         Aryan  Patil  ...                    Certified Buyer, Latur District
1    Flipkart Customer  ...  Certified Buyer, North Twenty Four Parganas Di...
2         Suresh Kumar  ...                         Certified Buyer, New Delhi
3          Rohit Purba  ...                           Certified Buyer, Rajpura
4    Flipkart Customer  ...                       Certified Buyer, Muzaffarpur
..                 ...  ...                                                ...
258  Flipkart Customer  ...                           Certified Buyer, Chennai
259    Aravind kumar S  ...                    Certified Buyer, Salem District
260    Abhishek  Dubey  ...                            Certified Buyer, Mumbai
261       Herry Jagani  ...                  Certified Buyer, Kachchh District
262        mehul joshi  ...                         Certified Buyer, Ahmedabad

[263 rows x 6 columns]