### Web Scraping using BeautifulSoup 
#### URL used = https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)

In [90]:
from bs4 import BeautifulSoup as bs

In [91]:
import requests as re

In [92]:
url="https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"

In [93]:
html_content=re.get(url).text

In [94]:
soup=bs(html_content,"lxml")

In [95]:
print(soup.title.text)

List of countries by GDP (nominal) - Wikipedia

In [96]:
gdp_table=soup.find("table",attrs={"class":"wikitable"})

In [97]:
gdp_table_data = gdp_table.tbody.find_all("tr")

In [98]:
len(gdp_table_data)

603

In [99]:
headings=[]
for td in gdp_table_data[0].find_all("td"):
    headings.append(td.b.a["title"])

In [100]:
gdp_table_data[0].find_all("td")

[<td style="width:33%; text-align:center;"><b>Per the <a href="/wiki/International_Monetary_Fund" title="International Monetary Fund">International Monetary Fund</a> (2019 estimates)</b><sup class="reference" id="cite_ref-GDP_IMF_1-2"><a href="#cite_note-GDP_IMF-1">[1]</a></sup>
 </td>,
 <td style="width:33%; text-align:center;"><b>Per the <a href="/wiki/World_Bank" title="World Bank">World Bank</a> (2018)</b><sup class="reference" id="cite_ref-worldbank_21-0"><a href="#cite_note-worldbank-21">[20]</a></sup>
 </td>,
 <td style="width:33%; text-align:center;"><b>Per the <a href="/wiki/United_Nations" title="United Nations">United Nations</a> (2017)</b><sup class="reference" id="cite_ref-22"><a href="#cite_note-22">[21]</a></sup><sup class="reference" id="cite_ref-23"><a href="#cite_note-23">[22]</a></sup>
 </td>]

In [101]:
headings=[]

In [102]:
#otaining headings
main_table=soup.find("table",attrs={"class":"wikitable"})
headings=[]
for i in main_table.tbody.tr.find_all("td"):
    
    headings.append(i.b.a.text)
headings

['International Monetary Fund', 'World Bank', 'United Nations']

In [103]:
subheadings=[]
for i in main_table.find_all("th"):
    subheadings.append(i.text)
subheadings=subheadings[0:3]

In [104]:
subheadings

['Rank', 'Country/Territory', 'GDP(US$million)\n']

In [105]:
maindata=soup.find_all("table",attrs={"class":"wikitable sortable"})

In [106]:
lis=[]
lis_1=[]
semifin=[]
final_data=[]
for j in maindata:
    for i in j.find_all("td"):
        lis.append(i.text.replace("\n","").replace("\xa0",""))
    lis_1=[dict(zip(subheadings,lis[k:k+3])) for k in range(0,len(lis),3)]
    #print(lis_1)
    lis=[]
    semifin.append(lis_1)
    lis_1=[]

In [107]:
# The bottom can also be written using loops 
df=pd.DataFrame(semifin[0])
dg=pd.DataFrame(semifin[1])

In [108]:
dh=pd.DataFrame(semifin[2])

In [109]:
data_pd=df.join(dg,how='outer',rsuffix="_WB",lsuffix="_IMF").join(dh,how="outer",rsuffix="_UN")

In [110]:
data_pd.head()

,Country/Territory_IMF,GDP(US$million) _IMF,Rank_IMF,Country/Territory_WB,GDP(US$million) _WB,Rank_WB,Country/Territory,GDP(US$million),Rank
0,World[19],"87,265,226",,World,"85,804,391",,World[25],"80,501,413",
1,United States,"21,439,453",1,United States,"20,494,100",1,United States,"19,485,394",1
2,European Union[23][n 1],"18,705,132",—,China[n 5],"13,608,152",2,China[n 5],"12,234,781",2
3,China[n 2],"14,140,163",2,Japan,"4,970,916",3,Japan,"4,872,415",3
4,Japan,"5,154,475",3,Germany,"3,996,759",4,Germany,"3,693,204",4

In [111]:
data_pd.to_csv("webscraping_one.csv",index=False,header=True)

In [112]:
webscraping_one=pd.read_csv("webscraping_one.csv")

In [113]:
webscraping_one.tail()

,Country/Territory_IMF,GDP(US$million) _IMF,Rank_IMF,Country/Territory_WB,GDP(US$million) _WB,Rank_WB,Country/Territory,GDP(US$million),Rank
208,NaN,NaN,NaN,NaN,NaN,NaN,Marshall Islands,209,189
209,NaN,NaN,NaN,NaN,NaN,NaN,Nauru,182,190
210,NaN,NaN,NaN,NaN,NaN,NaN,Kiribati,180,191
211,NaN,NaN,NaN,NaN,NaN,NaN,Montserrat,63,—
212,NaN,NaN,NaN,NaN,NaN,NaN,Tuvalu,38,192

In [114]:
final_data=dict(zip(headings,semifin))

In [115]:
#final_data

In [116]:
#import pandas as pd

In [117]:
#final_data[headings[0]][5]